<style>
	body {
	font-family: Ebrima, serif;
	}

/* side navigation menu */
  .sidenav {
		margin: 0;
		padding: 0;
		width: 200px;
		background-color: #f1f1f1;
		position: fixed;
		height: 100%;
		overflow: auto;
	}

  /* side navigation menu links */
	.sidenav a {
		padding: 20px 16px;
		text-decoration: none;
		text-align: center;
		font-weight: bold;
		font-size: 1.5em;
		color: black;
		display: block;
	}

	.sidenav a:active {
		background-color: #4CAF50;
		color: white;
	}

  /* when moused over, the navigation links will change their color */
	.sidenav a:hover:not(.active) {
		background-color: #555;
		color: white;
	}

  /* page content */
	div.content {
		margin-left: 200px; /* same as sidebar width */
		padding: 1px 16px;
		height: 275px;
	}

	div.center {
		text-align: center
	}

	@media screen and (max-width:700px) {
		.sidenav {
			width: 100%;
			height: auto;
			position: relative;
		}
		.sidenav a {float: left;}
		div.content {margin-left: 0;}
	}

	@@media screen and (max-width: 400px) {
		.sidebar a {
			text-align: center;
			float: none;
		}
	}

	.me {
		font-size: 1.5em;
		letter-spacing: 0.1em;
	}

	.socialMedia {
		padding-right: 8px;
		color: #171717;
	}

	.poem {
		text-align: center;
		font-style: italic
	}

	.poem_title {
		text-align: center;
		font-weight: bold
	}

html
</style>
