<style>
	body {
	font-family: Ebrima, serif;
	}

  .header {
		overflow: hidden;
		background-color: #f1f1f1; /* light grey */
		padding: 20px 10px;
	}

/* header link styling */
	.header {
		float: left;
		color: black;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		line-height: 25px;
		border-radius: 4px;
	}

/* side navigation menu */
  .sidenav {
		height: 100%; /* Full-height; remove if you want 'auto' height */
		width: 160px;
		position: fixed;
		z-index: 1; /* Stay on top */
		top: 0; /* Stay at the top */
		left: 0;
		background-color: #111; /* Black */
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 20px;
	}

  /* side navigation menu links */
	.sidenav a {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
	}

  /* when moused over, the navigation links will change their color */
	.sidenav a:hover {
		color: f1f1f1;
	}

  /* page content */
	.main {
		margin-left: 160px; /* same as sidebar width */
		padding: 0px 10px;
	}

	.me {
		font-size: 4em;
		letter-spacing: 0.1em;
	}

	.socialMedia {
		padding-right: 8px;
		color: #F5F5F5;
	}

  /* on screens where height < 450px, change the style of the sidebar (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
		.sidenav {padding-top: 15px;}
		.sidenav a {font-size: 18px;}
	}

	div.center {
		text-align: center
	}

	.poem {text-align: center; font-style: italic}

	.poem_title {text-align: center; font-weight: bold}

html
</style>
