<style>
	body {
	font-family: Times, serif;
/*	background-color: blue; */
	background: url('img/body-background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}

	.logo {
		float: left;
	}

/* top nav bar */
	#navigation-container {
		width: 100%;
		margin: 0 auto;
		height: 70px; /* same height as logo */
	}

	.navigation-bar {
		background-color: black;
		height: 70px; /* same height as logo */
		width: 100%;
		text-align:center;
	}

	.navigation-bar img{
		float: left;
	}

	.navigation-bar ul {
		padding: 0px;
		margin: 0px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
	}

	.navigation-bar li {
		list-style-type: none;
		padding: 0px;
		height: 24px;
		margin-top: 4px;
		margin-bottom: 4px;
		display: inline;
	}

	.navigation-bar li a, .dropbtn {
		color: #f0ead6;
		font-size: 16px;
		font-family: serif;
		text-decoration: none;
		line-height: 70px;
		padding: 5px 15px;
		opacity: 0.7
		cursor: pointer;
	}

	.navigation-bar li a:hover, .dropbtn:hover {
		color:#f1f1f1;
	}

	.active {
		background-color: #052740;
		color: white;
	}

	.dropdown-container {
		display: none;
		background-color: #262626;
	}

	#menu {
		float: right;
	}

/* page behavior */
	@media screen and (max-width:700px) {
		.sidenav {
			width: 100%;
			height: auto;
			position: relative;
		}
		div.content {margin-left: 0;}
	}

/*
	@@media screen and (max-width: 400px) {
		.sidebar a {
			text-align: center;
			float: none;
		}
	}
*/

/* content */
	.content {
		position: absolute;
		margin: 150px 150px 0px 275px;
		text-align: center;
	}

	.poem {
		text-align: center;
		font-style: italic
	}

	.poem-title {
		text-align: center;
		font-weight: bold
	}

</style>
